.form {
  /* width: 70%; */
  width: min(70%, 500px);
  text-align: center;
  margin: 0 auto;
}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"] {
  /* width: calc(50% - 4px); */
  width: 100%;
  padding: 10px;
  margin: 5px 0 10px 0;
  display: inline-block;
  border: 1px solid #b4b4b4;
  border-radius: 10px;
  background: #ffffff;
}

button {
  background-color: #19c051;
  color: white;
  padding: 14px 20px;
  margin: 8px auto;
  border: none;
  cursor: pointer;
  width: calc(50% - 4px);
  border-radius: 10px;
  opacity: 0.9;
  display: inline-block;
}

.registerbtn {
  background-color: #1a70c0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.form-head {
  text-align: center;
  font-size: 120%;
}

.clearfix {
  text-align: center;
}

input[type="checkbox"] {
  display: inline-block;
}

.check-box{
  text-align: center;
  /* width: 100%; */
}

#check-description {
  margin-left: 20%;
  width: 50%;
  font-size: small;
  display: inline-block;
  text-align: left;
}

.field-wrap,
.psw,
.psw-repeat {
  width: calc(50% - 4px);
  display: inline-block;
}

.first-row,
.last-row {
  text-align: center;
  display: inline;
  white-space: nowrap;
}

#first-name, .psw{
  width: 45%;
  margin-right: 9%;
  text-align: left;
}

#last-name, .psw-repeat{
  width: 45%;
}