* {
  box-sizing: border-box;
}

:root {
  --color-green: #0b4d14;
  --color-black: #000;
  --color-gray: #c6bfbf;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.page__container{
  display: flex;
  flex-grow: 1;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--color-black);
}

ul.bottom__navbar{
  position: fixed;
  bottom: 0px;
  width: 100%;
  left: 0px;
  background-color: var(--color-green);
}

li {
  float: left;
}

li a {
  font-size: 12px;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.bottom__navbar--right{
  float: right;
}

li a:hover {
  background-color: var(--color-green);
}

.top__navbar--first, .bottom__navbar--first {
  margin-left: 100px;
}

.top__navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.content__middle--container{
  left: 0px;
  padding: 30px 100px;
  width: 100%;
  background-color: var(--color-gray);
}

.content__container{
  display: flex;
  flex-direction: column;
  position: relative;
  top: 42px;
}

.middle__container{
  padding-left: 100px;
  width: 100%;
  padding-right: 100px;
  padding-top: 10px;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.content__middle--description{
  font-size: 13px;
}

@media (max-width: 650px) {
  ul.top__navbar li {
    float: none;
  }
  .top__navbar--first, .bottom__navbar--first {
    margin-left: 0px;
  }
  .content__container{
    top: 168px;
  }
  .bottom__container{
    display: none;
  }
}
